# Formation Pratique 1 : Introduction à la syntaxe en Python

**Cette formation pratique est optionnelle : si vous maitrisez déjà les bases en Python, vous pouvez en ignorer le contenu.**

Le but de cette formation pratique est d'introduire la syntaxe en Python afin de simplifier la compréhension des contenus qui vont suivre. Notez cependant qu'il ne s'agit PAS d'un cours de python, et cette introduction ne sera donc que superficielle. Pour du contenu plus approfondis sur python en particulier, nous vous recommandons les ressources suivantes :
- [W3Schools](https://www.w3schools.com/python/python_syntax.asp)
- [Google tutorial](https://developers.google.com/edu/python/)

Tout le contenu suivant s'applique à Python version 3.X, puisque les version 2.X ne sont officiellement plus maintenues par Python depuis le 1er Janvier 2020.

## 1.1 Syntaxe en Python

### 1.1.1 Variables

Les variables en python sont definies à partir du symbole "=" qui assigne une valeur à un nom. Dans l'exemple suivant, nous définissons plusieurs variavbles x1, x2, y, z, x, chacune ayant un type différent.

In [2]:
x1 = 5              # x1 est un int (entier)
x2 = 5.             # x2 est un float
y = 'hello world'   # y est un string (chaine de caractères)
z = [1,2,3]         # z est une liste
w = {'age': 20}     # w est un dictionnaire

Nous verrons plus tard les différents types introduit à l'instant. Notez que le texte après un '#' est ignoré par python, il s'agit d'un commentaire.

La fonction print() permets "d'imprimer" un objet python. Nous pouvons accéder aux variables introduites précédement simplement en utilisant leur nom. Par exemple, la ligne de code suivante va afficher la variable z :

In [3]:
print(z)

[1, 2, 3]

### 1.1.2 Indentation

L'indentation est au coeur de la syntaxe en python. En effet, même si elle joue parfois un rôle strictement décoratif dans d'autres langages, l'indentation dans python modifie le sens d'un bloc de code, et peut parfois causer des erreurs. 

Un certain nombre d'opération en python (if, loops, functions, classes) vont s'appliquer à un bloc de lignes de code. L'indentation est ce qui permets de distinguer lorsque l'on 'sort' d'un tel bloc. 

Prenons l'exemple de la condition. Le statement if permets d'appliquer un bloc de code si et seulement si une certaine condition est vérifiée. Voyons l'impact de l'indentation dans les codes suivant :

In [4]:
if 2 > 3:   
  print(x1)
  print(x2)

In [5]:
if 2 > 3:
  print(x1)
print(x2)

5.0

Puisque 2 n'est pas supérieur à 3, le bloc suivant le if ne sera pas éxecuté. Dans le premier cas, rien ne se passe, car les deux lignes de codes sont indentées, et font donc toutes les deux parties du bloc "if".
Dans le deuxième cas, ```print(x2)``` n'est pas indenté, et est donc en dehors du bloc "if". C'est pourquoi il sera executé, et on observe bien que "5.0" est imprimé à l'écran. 

Que se passe t-il si aucune ligne n'est indentée ?

In [8]:
if 2 > 3:
print(x1)

IndentationError: ignored

On obtient une 'IndentationError'. Cette erreur survient parce qu'un statement "if" doit impérativement être suivi d'un bloc indenté auquel il s'applique. Naturellement, plusieurs if peuvent être combinés, résultant en plusieurs niveaux d'indentation

In [9]:
if True:    # True est un booléen, qui sera toujours interprété comme 'vrai'
  print('premier bloc')
  if False: # False est l'autre booléen, et sera toujours interprété comme 'faux'
    print('second bloc')
  print('premier bloc')

premier bloc
premier bloc

Le premier "if" évalue sa condition à 'vrai', et execute donc le premier bloc de code. Dans ce bloc, un second "if" évalue sa condition à 'vrai' et la ligne doublement indenté, correspondant au bloc de ce second "if", ne sera donc pas éxecutée.

### 1.1.3 Fonctions

Voyons à présent comment définir et appeler des fonctions en python.

In [10]:
def myFunc(var1, var2, var3=' ', var4='!'):
  print(var1 + var2 + var3 + var4)

On définie une fonction avec le mot-clé ```def``` suivis du nom de la fonction, puis de ses arguments entre parenthèse. Enfin, on ajoute un `:` à la fin de la ligne et on écrit les instructions de la fonction dans un bloc indenté.

Il y a deux types d'arguments. Les arguments comme ```var1``` et ```var2``` qui sont déclarés uniquement par leurs noms, et les arguments comme ```var3``` et ```var4``` qui sont déclaré avec une valeur par défaut, c'est à dire ```nom = val_defaut```

Les arguments sans valeur par défaut sont toujours déclarés en premier, et leur ordre aura une grande importante lorsque l'on appelera la fonction. Les arguments avec une valeur par défaut peuvent être omis lorsque l'on appeller la fonction (auquel cas ils adopteront leur valeur par défaut) où peuvent voir leur valeur assignée comme dans les exemples suivants.

In [14]:
myFunc('Hello', ' world') # myFunc est appellé avec var1='Hello', var2='world', et var3 var4 ont leur valeur par défaut
myFunc('Hello', ' world', var3='   ', var4='!!!!') # cette fois, on change les valeurs de var3 et var4
myFunc('Hello', ' world', var4='!', var3=' ') # notez que l'ont peut assigner var3 et var4 dans l'ordre de notre choix

Hello world !
Hello world   !!!!
Hello world !

Comme vous vous en doutez surement, la fonction ```myFunc``` prends 4 arguments var1, var2, var3, var4, et imprime la chaine de caractères obtenus en les concatenant les uns à la suite des autres.

Bien qu'elle effectue l'action d'imprimer la chaine de caractère, notre function ne renvoie cependant rien:

In [15]:
result = myFunc('Hello ', 'world')

Hello world !

In [16]:
print(result)

None

On constate que le simple fait de définir la variable ```result``` imprime la chaine de caractère, car la fonction est appellée. Cependant, quand on imprime la variable result, elle ne contient rien (```None```) ! Si on veut pouvoir stocker ainsi la chaine de caractère, il faut se servir de la mèthode ```return```:

In [17]:
def myFunc2(var1, var2, var3=' ', var4='!'):
  return (var1 + var2 + var3 + var4)

In [18]:
result = myFunc2('Hello ', 'world')
print(result)

Hello world !

Ainsi, quand on assigne une variable à une execution de ```myFunc2```, elle contiendra ce que la fonction a renvoyé avec le statement ```return```

### 1.1.4 Classes

Nous allons maintenant voir les classes en python. Bien que ce type d'objet soit extremement important en Machine Learning, il est plus complexe à manipuler, et ne sera donc que très superficiellement introduit dans le cadre de cette formation pratique.

Créons notre première classe:

In [19]:
class MyClass():
  def myClassFunc(self):
    myFunc('Hello ', 'world')

Nous avons définie notre classe de façon similaire à une fonction, mais en utilisant le mot-clé ```classe```. Une classe ne prends pas d'arguments dans sa définition, mais peut hériter d'une autre classe alors indiquée dans les parenthèse, cependant cela sort du cadre de cette formation pratique.

À l'intérieur de notre définition de classe, nous avons définies une fonction. Ces fonctions sont appellées des "méthodes" de la classe, et elles peuvent être appellées de la façon suivante :

In [20]:
class_ex = MyClass() # instancie un élement de notre classe
class_ex.myClassFunc() # Execute la methode que nous avons definie, ce qui imprime 'Hello world !'

Hello world !

On remarquera que la méthode définie prends en argument 'self'. Ce mot-clé réfère en fait à l'instanciation de la classe qui exécutera la méthode. L'avantage des classes est entre autre que ses méthodes peuvent interagir avec des variables propres à l'instanciation de la classe, que nous appellerons attributs :

In [26]:
class MyClass():
  def myClassFunc(self):
    self.x = 3
    myFunc('Hello ', 'world')

Dans cette nouvelle définition, lorsque nous éxecutons la méthode ```myClassFunc```, nous stockons la valeur '3' dans l'attribut 'x' de l'instance qui exécute la méthode. Voyons comment nous pouvons ensuite y accéder :

In [27]:
class_ex = MyClass()
class_ex.myClassFunc()
print(class_ex.x)

Hello world !
3

Lorsque nous avons éxécuté ```class_ex.myClassFunc()```, nous avons assigné la valeur 3 à l'attribut ```x``` de ```class_ex```, auquel on peut donc accéder avec ```class_ex.x```.

Notons que si l'on n'exécute pas la méthode, l'attribut n'est jamais assigné, et si l'on essaye d'y accéder, on obtient donc une erreur:

In [28]:
class_ex = MyClass()
print(class_ex.x)

AttributeError: ignored

Il y a beaucoup d'autres aspects pour maitriser l'utilisations des classes en python. Pour en apprendre plus, se référer aux ressources citées au début de la formation pratique

### 1.1.5 Les boucles

Pour écrire une boucle en python, on peut soit parcourir les élements d'une liste, soit continuer tant qu'une condition est vérifiée

In [63]:
i = 0
while i < 5:
  print(i)
  i += 1

0
1
2
3
4

Ce code très simple boucle tant que i est strictement plus petit que 5. Puisque l'on part de 0 et augmente i à chaque itération, on exécute la boucle 5 fois en tout. Pour cela, on utilise le mot-clé ```while```, suivis d'une condition, puis d'un ```:``` et enfin d'un bloc indenté correspondant à une itération de la boucle

On peut aussi (et ce sera le plus souvent le cas) utiliser une boucle ```for``` qui parcourt les élements d'une liste (voir section #1.2.2 pour plus d'informations sur les listes).

In [64]:
myList = [1, 2, 3]
for n in myList:
  print(n)

1
2
3

Le code précédent parcourt les éléments de la liste ```myList```, et pour chaque tel élément n, éxecute ```print(n)```.

Pour parcourir les éléments i allant de 0 à 8 par exemple, on peut utiliser la méthode suivante :

In [65]:
for i in range(0, 9):
  print(i)

0
1
2
3
4
5
6
7
8

### 1.1.6 Importation

Nous allons parfois avoir besoin d'importer des fonctions venant de librairies externes. Pour cela, nous allons utiliser le mot-clé ```import```.

Par exemple, pour importer la librairie numpy, dont nous nous servirons dans la section 1.3, on execute la commande suivante :

In [68]:
import numpy as np

Nous pouvons maintenant accéder à toutes les fonctions de la librairies numpy en leur rajoutant le prefixe 'np'. Par exemple, ```np.mean(x)``` appliquera la fonction ```mean``` de numpy à la variable ```x```.

## 1.2 Types de données et opérations de base

Voyons maintenant les principaux types de données en python et comment les manipuler

### 1.2.1 Int et float

Int et float correspondent respectivement aux entiers et aux réels continus.
Si une opération implique un int et un float, le int sera automatiquement convertis en float, et le résultat sera du type float. Voyons quelques opérations de base:

In [32]:
x = 4.
print(x + 1)   # Addition
print(x - 3) # Soustraction
print(x * 2.7) # Multiplication
print(x / 2) # Division
print(x ** 3)  # Puissance

5.0
1.0
10.8
2.0
64.0

La valeur d'une variable int ou float peut être mise à jour incrémentalement avec les opérations suivantes:

In [33]:
x = 3
print(x)
x += 2 # augmente x de 2
print(x)
x -= 7 # réduit x de 7
print(x)
x *= -1 # multiplie x par -1
print(x)

3
5
-2
2

### 1.2.2 Strings et list

Bien que ce soit deux types de données différents, cette section traite simultanément des chaines de caractères et des listes car nous allons voir qu'elles partagent de nombreux points communs. Une liste est une séquence d'objets python quelconques, pouvant avoir des types différents. Une chaine de caractère est une phrase, interprétées comme une liste de caractères alphabétiques. Définissons notre première chaine de caractère et notre première liste:

In [46]:
myString = 'a8un7.3'
myList = ['a', 8, 'un', 7.3, 8, 'a', 'b']

Les listes sont définies entre crochets et les éléments sont séparés par des virgules, alors que les strings sont définis entre ```'``` ou entre ```"```. La plupart des types de données pythons peuvent être convertis en string en utilisant la fonction ```str()```

In [48]:
a = 8  # a est du type int
b = str(a) # equivalent à b = '8'
a = [2.3, 4] # a est du type list
b = str(a) # equivalent à b = '[2.3, 4]'

Voyons quelques opérations de base sur les string et les lists :

In [49]:
print(myString + 'HelloWorld') # concatène deux strings
print(myList + [2, 3, 4])      # concatène deux lists
print(len(myString))      # calcule la longueur du string
print(len(myList))        # calcule la longueur de la liste

a8un7.3HelloWorld
['a', 8, 'un', 7.3, 8, 'a', 'b', 2, 3, 4]
7
7

In [50]:
print(myString[3])  # accède au 3ème élement du string
print(myList[2])    # accède au 2ème élement de la list
print(myString[4:7]) # calcule le sous-string constitué par tout les élements de la 4ème (inclue) position jusqu'à la 7ème (exclue) position
print(myList[0:3]) # calcule la sous-liste constitué par tout les élements de la 0ème (inclue) position jusqu'à la 3ème (exclue) position

n
un
7.3
['a', 8, 'un']

Notez que l'indexation commence toujours à 0 en python. Ainsi, le premier élement de ```myList``` est dénoté ```myList[0]```, le second ```myList[1]``` etc...

Les éléments d'une liste python peuvent être efficacement modifiés, on notera en particulier :

In [52]:
list_ex = [1,2,3,4,5]
print(list_ex)
list_ex[3] = 8  # le 3éme élement est désormais égal à 8
print(list_ex)
list_ex.append(0) # on ajoute un 0 à la fin de list_ex
print(list_ex)
x = list_ex.pop() # on retire le dernier élement, et on le stock dans x
print(x)
print(list_ex)

[1, 2, 3, 4, 5]
[1, 2, 3, 8, 5]
[1, 2, 3, 8, 5, 0]
0
[1, 2, 3, 8, 5]

Enfin, voici une syntaxe utile pour manipuler des listes

In [57]:
myList1 = [3, 4, 5, 5, 6, 1, 2]
myList2 = [var + 2 for var in myList1]
print(myList2)

[5, 6, 7, 7, 8, 3, 4]

La syntaxe utilisée pour définir myList2 peut être interprétée comme 'la liste des var+2 lorsque var parcourt ```myList1```'

### 1.2.3 Booléens

Les Booléens sont un type de données ne contenant que ```True``` et ```False``` comme seule évaluation possibles. Ils sont notament utilisés dans les blocs ```if```.

In [ ]:
t = True
f = False

if t:
  print('true !')
if f:
  print('false !')

Les booléens possèdent leurs propres opérations :

In [ ]:
print(t and f) # conjonction
print(t or f)  # disjonction
print(not t)   # negation

Les booléens sont souvent créés en testant une équation mathématique. Attention cependant, puisque le '=' est déjà utilisé pour l'attribution de variable, on utilisera '==' pour vérifier une égalité et l'interpréter comme un booléen:

In [58]:
print(5 > 3)  # str. superior
print(5 <= 3) # inferior or equal
print(5 == 3) # equal
print(5 != 3) # not equal

True
False
False
True

Python possède de nombreux autres types de données, comme les tuples, les dictionnaires, les ensembles, etc. Pour en apprendre plus, se référer aux ressources citées au début de la formation pratique.

## 1.3 NumPy

NumPy est une librairie indispensable en NumPy. Elle nous permettra de définir un nouveau type de données, les "arrays" (tableaux) qui nous permettra de réaliser efficacement des calcules matriciels et autres opérations mathématiques. 

Commençons par importer NumPy (voir #1.1.6)

In [1]:
import numpy as np

### 1.3.1 Tableaux (arrays)

Nous pouvons à présent définir des tableaux, par exemple en convertissant une liste en tableau :

In [72]:
a = np.array([1,2,3])
print(a)
b = np.array([[1,2,3],[4,5,6],[7,8,9]])
print(b)

[1 2 3]
[[1 2 3]
 [4 5 6]
 [7 8 9]]

On remarquera que dans ce cas, ```b``` est defini à partir d'une liste de liste, et sera donc interprété comme une matrice de deux dimension (3x3) dans ce cas. On peut regarder la forme d'un tableau en utilisant ```shape```

In [73]:
print(a.shape)
print(b.shape)

(3,)
(3, 3)

Comme avec les listes, nous pouvons reassigner les élements d'un array et y accéder. Si un tableau est en plusieurs dimension, on y accède en lui donnant la liste des index :

In [75]:
print(b[1,2]) # imprime l'élement de la ligne 1, colonne 2 de b
print(b[2,0]) # imprime l'élement de la ligne 2, colonne 0 de b

# Ne pas oublier que la colonne 2, en python, correspond a la troisieme colonne ! la premiere colonne est indiquee comme etant la colonne 0

6
7

On peut aussi créer des tableaux remplis de 1 ou de 0, en indiquant uniquement la forme voulue :

In [78]:
a = np.ones((4,3,2))
b = np.zeros((2,))
print(a)
print(b)

[[[1. 1.]
  [1. 1.]
  [1. 1.]]

 [[1. 1.]
  [1. 1.]
  [1. 1.]]

 [[1. 1.]
  [1. 1.]
  [1. 1.]]

 [[1. 1.]
  [1. 1.]
  [1. 1.]]]
[0. 0.]

Dans cet exemple, a est une matrice de dimension 3 (taille 4x3x2) remplies de '1', alors que b est une matrice de dimension 1 (taille 2) remplies de '0'.

La librairie numpy dispose d'un grand nombre d'implementation d'operations mathematique utiles:

In [85]:
a = np.ones((2,3))

print(np.mean(a)) # calcule la valeur moyenne des éléments de a
print(np.var(a)) # calcule la variance des élements de a

print(np.mean(a, axis=0)) # calcule la moyenne des élements de 'a' pour chaque ligne, et les renvoie dans un nouveau tableau

1.0
0.0
[1. 1. 1.]

In [86]:
a = np.ones((2,3))
b = np.ones((3,4))

print(np.dot(a,b)) # calcule le produit matriciel de a par b
print(a + a) # additionne a avec lui-même

[[3. 3. 3. 3.]
 [3. 3. 3. 3.]]
[[2. 2. 2.]
 [2. 2. 2.]]

Numpy permets d'implémenter très simplement des opérations qui necessiteraient normalement un certain nombre de boucles :

In [89]:
a = np.array([[0,1,2,3],[4,5,6,7]])
print(a)
print(a > 2) # a>2 calcule pour chaque élément de a si il est superieur à deux, et renvoie le résultat sous forme d'un array de même taille
print(a[a > 2]) # renvoie la liste des éléments de a aux indices où a est plus grand que 2. Donc, la liste des élements de a plus grand que 2.

[[0 1 2 3]
 [4 5 6 7]]
[[False False False  True]
 [ True  True  True  True]]
[3 4 5 6 7]

### 1.3.2 Géneration Aléatoire

Numpy est aussi utilisé pour génerer des valeurs aléatoire. Pour cela, on se sert de numpy.random

In [112]:
print(np.random.randn(3,2)) # genere un tableau de forme 3x2 dont les élements sont tirés d'une normale de moyenne 0 et variance 1
print(np.random.randint(100)) # genere un entier aleatoire entre 0 et 99

[[-0.19398987  0.34084579]
 [ 0.59450957  1.292418  ]
 [ 1.55976568 -0.46903399]]
47

On peut fixer le "seed" de numpy, ce qui permettra de reproduire les mêmes générations aléatoires à chaque éxecution, et donc d'avoir des résultat reproduisibles:

In [5]:
np.random.seed(seed=1)
print(np.random.randint(10**9))

np.random.seed(seed=3)
print(np.random.randint(10**9))

np.random.seed(seed=1)
print(np.random.randint(10**9))

717354021
218175338
717354021

Le 1er et le 3eme entier génerés sont les mêmes car ils ont été générés après avoir fixé le seed à la même valeur. Le second n'est pas le même, car le seed diffère. À chaque éxecution, on obtient les mêmes valeurs, car les seeds sont fixés